.header {
    padding-top: 25px;
    background-color: var(--white);
}

.header__title {
    margin: 40px 0;

    font-size: calc(28px + 22 * ((100vw - 320px) / (1440 - 320)));
    font-weight: 500;
}


@media screen and (max-width:576px) {
    .header__top{
        display: flex;
        justify-content: center;
    }
}
