.header {
    padding-top: 25px;
    background-color: var(--white);
}

.header__title {
    margin: 40px 0;

    font-size: calc(28px + 22 * ((100vw - 320px) / (1440 - 320)));
    font-weight: 500;
}

.header__burger {
    width: 20px;
    height: 14px;
    display: none;
}


@media screen and (max-width:768px) {
    .header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .header__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }


    .header__burger {
        display: block;
    }
}
