.footer {
    text-align: center;
}

.footer__wrapper {
    padding: 71px 0 136px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__title {
    margin-bottom: 32px;
    font-size: 2.3em;
    font-weight: 500;
}

.footer__content{
    width: 100%;
    max-width: 640px;
}
