.footer {
    background-color: var(--white);
    text-align: center;
}

.footer__wrapper {
    padding: 71px 0 136px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__title {
    margin-bottom: 32px;
    font-size: 38px;
    font-weight: 500;
}

.footer__content {
    width: 100%;
    max-width: 640px;
    line-height: 1.5;
}


@media screen and (max-width: 576px) {

    .footer__wrapper {
        padding: 50px 0 100px;
    }


}
